<form action="/addContact" method="POST">
    <input type="text" name="name" placeholder="Enter Name"> {{!-- This is the box where the user can add contacts --}}
    <input type="email" name="email" placeholder="Enter Email"> {{!-- where the user enters the email of the contact --}}
    <input type="text" name="number" placeholder="Enter Tracker Code Here"> {{!-- this is the tracker code of the user --}}
    <input type="submit" value="submit" class="button button1"> {{!-- this is the submit button to send the info to the server --}}
</form>
