<form action="/addContact" method="POST">
    <input type="text" name="name" placeholder="Enter Name">
    <input type="email" name="email" placeholder="Enter Email">
    <input type="text" name="number" placeholder="Enter Tracker Code Here">
    <input type="submit" value="submit" class="button button1">
</form>
