<h1>Sign In</h1>
<div class="messageContainer"></div>
<form action="/signin" method="POST">
    <input type="email" name="username" placeholder="Enter Email"> {{!-- when the user wants to sign up they will use the same email or username they used when they signed up --}}
    <input type="password" name="password" placeholder="Enter Tracker Code"> {{!-- the user will use the same tracker code they used when they signed up --}}
    <input type="submit" value='Sign In' class="button button1"> {{!-- submit button to sign the user in --}}
</form>
