<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    {{!-- This acts as our main layout. Essentially this is the global contaier for our web pages, and we can set things, such as style sheets, here that will be the same for every page. Huge benefit of this is to have one place to make edits the body placeholder below is the default place for hbs to display our views/templates --}}
    {{{body}}}
</body>
<script src="/js/script.js"></script> {{!-- Links to the js code so everything is recognised when the web app is opened --}}


</html>
