<title>Contents Page</title>


  <div class="container">

    <div class="row">
      <img class="w-50 h-50 mx-auto" src="images/Logo.png">
    </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="mb-2">
          <p>KickTracker</p> <!-- This is the title of the product -->
          <h1>Data Analysis Made For You</h1> <!-- This is the tag line for the product -->
          <h1>Please Select One Of The Features Below To See Your Results From Your Most Recent Sessions</h1>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="card-body text-center">
            <img class="dashIcon" src="images/svg/heart.svg" alt="Heart Rate Icon">
            <a href="/heart" class="button button1">Heart Rate</a>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card">
          <div class="card-body text-center">
            <img class="dashIcon" src="images/svg/shoe-prints.svg" alt="Pedometer Icon">
            <a href="/steps" class="button button1">Pedometer</a>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card">
          <div class="card-body text-center">
            <img class="dashIcon" src="images/svg/crosshairs.svg" alt="Power Icon">
            <a href="/power" class="button button1">Power</a>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card">
          <div class="card-body text-center">
            <img class="dashIcon" src="images/svg/running.svg" alt="Speed Icon">
            <a href="/speed" class="button button1">Speed</a>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <div class="btn-group" role="group">
        <a class="button button1" href="/logoutloader"><i class="fas fa-sign-out-alt fa-lg"></i>  Log Out</a> <!-- This is the button on the landing page that sends the user to the contents page. Also has the icon to add some asthetics to the page -->
    </div>
  </div>

      <!-- <div class="col-3">
          <a class="button button1" href="steps.html"><i class="fas fa-shoe-prints fa-lg"></i>
            Pedometer</a>
        </div>
        <div class="col-3">
          <a class="button button1" href="power.html"><i class="fas fa-crosshairs fa-lg"></i> Power</a>
        </div>
        <div class="col-3">
          <a class="button button1" href="speed.html"><i class="fas fa-running fa-lg"></i> Speed</a>
        </div>
      </div> -->
