<div class="boxed"> <!--This is the box that you see on the screen which contains all of the content for the user to view -->

  <div class="row">
    <img class="w-50 h-50 mx-auto" src="images/Logo.png">
  </div>

  <div class="container"> <!-- This is the container that holds the content below -->
    <div class="row"> <!-- The page is set into columns and rows so it becomes easy to layout the elements -->
      <div class="col"> <!-- The page is set into columns and rows so it becomes easy to layout the elements -->
      </div>


</div>
</div>
<div class="col-12"> <!--This determines the columns that all of the content goes into, it positions the content in certain parts of the page so that it all looks professional and arranged -->
  <div class="form-group mx-sm-3 mb-2"> <!-- This helps with the positioning and organisation of the page in general -->
    <p>Your Heart Rate</p> <!-- This is the title of the product -->
  </div>
  <div class="text-center">
    <div class="btn-group" role="group">
      <a class="button button1" href="/contents"><i class="fas fa-list fa-lg"></i>  Back To Contents</a> <!-- This is the button on the landing page that sends the user to the contents page. Also has the icon to add some asthetics to the page -->
  </div>
  </div>
  <div class="text-center">
    <div class="btn-group" role="group">
      <a class="button button1" href="/heartload"><i class="fas fa-folder-open fa-lg"></i> Your Heart Rate Results</a> <!-- This is the button on the landing page that sends the user to the contents page. Also has the icon to add some asthetics to the page -->
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
