<body>
  <script>setTimeout(function(){window.location.href='/chartpower'},2000);</script>
  <div class="boxed2"> <!--This is the box that you see on the screen which contains all of the content for the user to view -->
    <div class="container"> <!-- This is the container that holds the content below -->
      <div class="row"> <!-- The page is set into columns and rows so it becomes easy to layout the elements -->
        <div class="col"> <!-- The page is set into columns and rows so it becomes easy to layout the elements -->
        </div>

<div class="loading">
<span>Loading Your Results...</span>
</div>
</div>
</div>
</div>
</body>
