html

body {
  width: 100%;
height: 100%;
background-image: url(/images/grasstexture.jpg);
}

h1 {
  text-align: center;
  color: #157F1F; /* The colour of the main body text */
  font-size: 10px; /* The size of the font */
  font-family: 'Open Sans', sans-serif; /* this is the main font that i chose for web app */
  -webkit-text-stroke-width: 1px; /* this is the outline stroke for the title text */
  -webkit-text-stroke-color: black; /* this is the colour of the outline stroke */
}

h3 {
  text-align: center; /* This alligns the text in the center of the site */
  color: #ffffff; /* This is the colour */
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

h4 {
  text-align: center;
  color: #ffffff; /* This is the colour */
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

h5 {
  text-align: center;
  color: #157F1F; /* This is the colour */
  font-family: 'Open Sans', sans-serif;
  font-size: 55px;
  -webkit-text-stroke-width: 1px; /* this is the outline stroke for the title text */
  -webkit-text-stroke-color: black; /* this is the colour of the outline stroke */
}

p {
  text-align: center;
  color: #157F1F; /* This is the colour */
  font-size: 65px; /* declares the font size */
  padding-left: 0px;
  margin-bottom: auto;
  font-family: 'Open Sans', sans-serif;
  -webkit-text-stroke-width: 2.5px; /* this is the outline of the text */
  -webkit-text-stroke-color: black; /* colour of the outline for the text */
}

image {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 30%; /* determines the width of the image */
  max-height: 30%; /* determines the height of the image */
  margin: auto;
  overflow: auto; /* makes the image responsive when the pages size is being changed */
  background-size: contain;
}


.boxed {
  border: 4px solid black ;
  background-color: #4D4D4D; /* This is the colour */
  opacity: 0.9; /* this declares the opacity */
  position: fixed;
  border-radius: 35px; /* this makes the box corners rounded */
  margin-left: 150px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 70%; /* this determines the width of the box */
    max-height: 99%; /* this determines the height of the box */
    overflow: auto; /* this means that when the page is being shrunk or enlarged then it would be responsive to that */
}

.boxed1 {
  border: 4px solid black;
  background-color: #090909; /* This is the colour */
  position: fixed;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 30%; /* declares the width */
    max-height: 35%; /* declares the height */
    margin: auto;
    overflow: auto; /* makes the box responsive */
  /* width: 400px;
  height: 350px;
  margin-left: 190px;
  margin-top: 20px; */
}

.boxed2 {
  border: 4px solid black ;
  background-color: #4D4D4D; /* This is the colour */
  opacity: 0.9; /* this declares the opacity of the box */
  position: fixed;
  border-radius: 35px; /* rounds the corners of the box */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 25%; /* determines width */
    max-height: 30%; /* determines height */
    margin: auto;
    overflow: auto;
}

.boxed3 {
  border: 4px solid black ;
  background-color: #4D4D4D; /* This is the colour */
  opacity: 0.9;
  position: fixed;
  border-radius: 35px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 95%;
    max-height: 95%;
    margin: auto;
    overflow: auto;
}

.button1 {
  background-color: #157F1F; /* This is the colour */
  color: black;
  outline-color: black;
  padding: 20px 40px;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 1px;
  margin-right: 1px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  display: block;
}

.button:hover {
  background-color: #157F1F; /* Primary Green - Stand Alone Colour*/
  background-color: #069E2D; /* Secondary Green - Colour when User Hovers*/
  color: black;
  outline-color: black;
}

.chart_div{
  position: absolute;
  overflow: hidden;
  margin-left: 100px; /* positions the chart */
}

.dashIcon{
  max-height: 170px;
  margin-bottom: 20px;
  fill: green; /* changes the colour of the icon */
}

.card{
  border-radius: 20px !important;
  border: 5px solid #157F1F !important;
  background-color: #4D4D4D !important;
  height: 100%;
}

.loading{
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #157F1F; /* sorts the colour out for the loader */
  animation: a1 2s linear infinite; /* declares the animation */
}

.loading::before,.loading::after{
  content: '';
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: -10px;
  box-sizing: border-box;
  border-radius: 50%;
}

.loading::before{
  border-top: 10px solid #069E2D; /* colour */
  transform: rotate(120deg); /* This determines the rotation of the loading screen */
}

.loading::after{
  border-top: 10px solid #4C934C; /* colour */
  transform: rotate(240deg);
}

.loading span{
  position: absolute;
  width: 200px;
  height: 200px;
  color: #000;
  text-align: center;
  line-height: 200px;
  animation: a2 2s linear infinite;
}

@keyframes a1 {
  to{
    transform: rotate(360deg); /* This rotates the loading screens */
  }
}

@keyframes a2 {
  to{
    transform: rotate(-360deg);
  }
}
